<h3>Hey <%= @customerUsername %>,</h3>

  <p> Congratulations on successfully purchasing your ticket to <%= @eventTitle %>! </p>

  <p> You have <%= @earlyBirdTicket %> early bird ticket(s), <%= @advanceTicket %> advance ticket(s) and <%= @vipTicket %> VIP ticket(s)</p>

  <p>We are thrilled to have you join us for this exciting event and cannot wait to see you there.</p>
 
 <p>The event is on <%= @eventDate %> at <%= @eventTime %>, the theme for the event is <%= @eventDressCode %></p>

  <p> If you have any further questions or concerns, please do not hesitate to reach out to us.</p>


Best regards,

Tikiti Tamasha Team.